:root {
  /* Color */
  --color-TerraCotta: #e27762;
  --color-PaleBrown: #a37356;
  --color-DeepOak: #412311;
  --color-DonJuan: #5f4c4c;
  --color-Backgorund: #f3d6b0;

  /* App Colors */
  --color-main-text: var(--color-PaleBrown);
  --color-accent: var(--color-PaleBrown);
  --color-background: var(--color-Backgorund);
  --color-main-center-text: var(--color-TerraCotta);
  --color-coffee-title: var(--color-DeepOak);
  --color-coffee-sub-title: var(--color-#5f4c4c);

  /* Size */
  --size-max-width: 1440px;
  --size-max-height: 600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3,
p,
ul,
div,
section {
  margin: 0;
  padding: 0;
  /* font-size: 0px; */
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* ------------------Home ---------------------- */

#taewook {
  background-color: var(--color-Backgorund);
  position: relative;
  display: flex;
}

.banner {
}

.banner__coffee {
  width: 402px;
  height: var(--size-max-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  color: var(--color-main-text);
}

.banner__subtitle {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__of {
  font-size: 40px;
  display: flex;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__of::before,
.banner__of::after {
  content: '';
  border-bottom: 2px solid var(--color-PaleBrown);
  width: 160px;
}
.banner__of::before {
  transform: translate(-20px, -42%);
}
.banner__of::after {
  transform: translate(20px, -42%);
}

.banner__title {
  color: var(--color-TerraCotta);
  font-size: 90px;
  line-height: 1;
  letter-spacing: 9px;
}

.bar__bg {
  margin-top: 13px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid var(--color-PaleBrown);
}

.banner__button {
  color: var(--color-TerraCotta);
  border: 2px solid var(--color-TerraCotta);
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.banner__button:hover {
  background-color: transparent;
  border: 2px solid var(--color-DeepOak);
  color: var(--color-DeepOak);
  cursor: pointer;
}

/* -----------------------음료 3종류-------------------------  */

.drink__container {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.drink__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drink__wrapper.left {
  transform: translateX(-40%);
}
.drink__wrapper.center {
  transform: translateX(-20%);
}
.drink__wrapper.right {
  transform: translateX(10%);
}

.drink__wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  aspect-ratio: 5/5;
  object-fit: cover;
  object-position: -100px center;
  transform: translateX(-50%);
}

.drink__wrapper:nth-child(2) img {
  object-position: -62.5px center;
  /* 네 */
}

.drink__wrapper:nth-child(3) img {
  width: 184px;
}

.en_title {
  color: var(--color-DeepOak);
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.8px;
  text-align: center;
  white-space: nowrap;
}

/* ------------------음료 한글 타이틀 ---------------------*/

.ko__title {
  /* 공간이 큼 */
  color: var(--color-DonJuan);
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
