:root {
  /* Color */
  --color-TerraCotta: #e27762;
  --color-PaleBrown: #a37356;
  --color-DeepOak: #412311;
  --color-DonJuan: #5f4c4c;
  --color-Backgorund: #f3d6b0;

  /* App Colors */
  --color-main-text: var(--color-PaleBrown);
  --color-accent: var(--color-PaleBrown);
  --color-background: var(--color-Backgorund);
  --color-main-center-text: var(--color-TerraCotta);
  --color-coffee-title: var(--color-DeepOak);
  --color-coffee-sub-title: var(--color-#5f4c4c);

  /* Size */
  --size-max-width: 1440px;
  --size-max-height: 600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3,
p,
ul,
div,
section {
  margin: 0;
  padding: 0;
  /* font-size: 0px; */
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* ------------------Home ---------------------- */

#taewook {
  background-image: url(../image/Hero\ Beverages.svg);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: var(--size-max-height);
  min-height: var(--size-max-height);
}

.banner {
  margin: auto 0;
}

.banner__coffee {
  width: 402px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  color: var(--color-main-text);
}

.banner__subtitle {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__of {
  font-size: 40px;
  display: flex;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__of::before,
.banner__of::after {
  content: '';
  border-bottom: 2px solid var(--color-PaleBrown);
  width: 145px;
}
.banner__of::before {
  transform: translate(-20px, -42%);
}
.banner__of::after {
  transform: translate(20px, -42%);
}

.banner__title {
  color: var(--color-TerraCotta);
  font-size: 90px;
  line-height: 1;
  letter-spacing: 9px;
}

.bar__bg {
  margin-top: 13px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid var(--color-PaleBrown);
}

.banner__button {
  color: var(--color-TerraCotta);
  border: 2px solid var(--color-TerraCotta);
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.banner__button:hover {
  background-color: transparent;
  border: 2px solid var(--color-DeepOak);
  color: var(--color-DeepOak);
  cursor: pointer;
}

/* -----------------------음료 3종류-------------------------  */

/* ------------------음료 한글 타이틀 ---------------------*/
