:root {
  /* Color */
  --color-TerraCotta: #e27762;
  --color-PaleBrown: #a37356;
  --color-DeepOak: #412311;
  --color-DonJuan: #5f4c4c;
  --color-Backgorund: #f3d6b0;

  /* App Colors */
  --color-main-text: var(--color-PaleBrown);
  --color-accent: var(--color-PaleBrown);
  --color-background: var(--color-Backgorund);
  --color-main-center-text: var(--color-TerraCotta);
  --color-coffee-title: var(--color-DeepOak);
  --color-coffee-sub-title: var(--color-#5f4c4c);

  /* Size */
  --size-max-width: 1440px;
  --size-max-height: 600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
div,
section {
  margin: 0;
  padding: 0;
  font-size: 0px;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* ------------------Home ---------------------- */

/* 가로스크롤이 생기는이유? 
.home {
  display: inline;
} */

.home__container {
  position: relative;
  width: var(--size-max-width);
  height: var(--size-max-height);
  /*   min-width: var(--size-max-width);
  min-height: var(--size-max-height); */
  background-color: var(--color-Backgorund);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home__coffee {
  position: absolute;
  margin: 83px 919px 120px 119px;
  min-width: 402px;
  min-height: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
}

.home_coffee__title {
  color: var(--color-main-text);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
}

.home__of {
  color: var(--color-main-text);
  font-size: 40px;
  display: flex;
  justify-content: center;

  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4px;
}

/* backround-iamge로 할껄.. */
.home__of:before {
  content: '';
  display: block;
  position: relative;
  top: 23px;
  transform: translateX(-15%);
  margin: 0.5rem 0;
  width: 160px;
  height: 2px;
  background-color: var(--color-PaleBrown);
}
.home__of:after {
  content: '';
  display: block;
  position: relative;
  top: 23px;
  transform: translateX(15%);
  margin: 0.5rem 0;
  width: 160px;
  height: 2px;
  background-color: var(--color-PaleBrown);
}

.home__main_box {
  width: 400px;
  height: 162px;
}
.home__main {
  color: var(--color-TerraCotta);
  font-size: 90px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 9px;
  text-align: center;
}

.bar__bg {
  margin-top: 13px;
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: var(--color-PaleBrown);
}

.home_discription {
  color: var(--color-PaleBrown);
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

.home__button {
  color: var(--color-TerraCotta);
  border: 2px solid var(--color-TerraCotta);
  border-radius: 3px;
  padding: 10px 25px;
  display: inline-flex;
  margin: 20px;
  /* inline-flex 없어도 작동됨. 
    inline-block과 똑같이 보면 된다.*/
}

.home__button__value {
  font-size: 16px;
  font-weight: 700;
}

.home__button:hover {
  background-color: transparent;
  outline: 2px solid var(--color-DeepOak);
  color: var(--color-DeepOak);
  cursor: pointer;
}

/* -----------------------음료 3종류-------------------------  */

/* -------------------------음료 이미지--------------------- */
.strawberry {
  position: absolute;
  margin: 113px 676px 59px 481px;
  cursor: default;
}

.chouxcream {
  position: absolute;
  margin: 62px 388px 110px 769px;
  cursor: default;
}

.greentea {
  position: absolute;
  margin: 242px 165px 3px 1052px;
  cursor: default;
}

/* -------------------------음료 타이틀 컨테이너-------------------- */

.strawberry__container {
  position: absolute;
  margin: 473px 493px 36px 476px;
  display: flex;
  width: 478px;
  /* 피그마 수치 -> width:471px */
  height: 91px;
  flex-direction: column;
  gap: 15px;
}

.chouxcream__container {
  position: absolute;
  margin: 68px 300px 472px 699px;
  display: flex;
  flex-direction: column;
  width: 450px;
  /*  피그마 수치 -> width:441px */
  height: 60px;
  padding: 0px 52px 0px 51px;
  gap: 12px;
}

.greentea__container {
  position: absolute;
  margin: 188px -30px 321px 999px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2.8px;
  width: 474px;
  /*  피그마 수치 -> width:471px */
  height: 91px;
  padding: 0px 89px;
  gap: 15px;
}

/* -------------음료 영문 타이틀 -------------------*/

.en_title {
  color: var(--color-DeepOak);
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-align: center;
}

/* ------------------음료 한글 타이틀 ---------------------*/

.ko__title {
  /* 공간이 큼 */
  color: var(--color-DonJuan);
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
