:root {
  /* Color */
  --color-TerraCotta: #e27762;
  --color-PaleBrown: #a37356;
  --color-DeepOak: #412311;
  --color-DonJuan: #5f4c4c;
  --color-Backgorund: #f3d6b0;

  /* App Colors */
  --color-main-text: var(--color-PaleBrown);
  --color-accent: var(--color-PaleBrown);
  --color-background: var(--color-Backgorund);
  --color-main-center-text: var(--color-TerraCotta);
  --color-coffee-title: var(--color-DeepOak);
  --color-coffee-sub-title: var(--color-#5f4c4c);

  /* Size */
  --size-max-width: 1440px;
  --size-max-height: 600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
div,
section {
  margin: 0;
  padding: 0;
  /* font-size: 0px; */
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* ------------------Home ---------------------- */

/* 가로스크롤이 생기는이유? 
.home {
  display: inline;
} */

#taewook {
  position: relative;
  background-color: var(--color-Backgorund);
}
.banner__coffee {
  width: 402px;
  position: relative;
  height: var(--size-max-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  color: var(--color-main-text);
}

.banner__subtitle {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__of {
  font-size: 40px;
  display: flex;
  font-weight: 400;
  letter-spacing: 4px;
}

/* backround-iamge로 할껄.. */
.banner__of::before,
.banner__of::after {
  content: "";
  border-bottom: 2px solid var(--color-PaleBrown);
  width: 160px;
}
.banner__of::before {
  transform: translate(-20px, -42%);
}
.banner__of::after {
  transform: translate(20px, -42%);
}

.banner__title {
  color: var(--color-TerraCotta);
  font-size: 90px;
  line-height: 1;
  letter-spacing: 9px;
}

.bar__bg {
  margin-top: 13px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid var(--color-PaleBrown);
}

.banner__button {
  color: var(--color-TerraCotta);
  border: 2px solid var(--color-TerraCotta);
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  /* inline-flex 없어도 작동됨. 
    inline-block과 똑같이 보면 된다.*/
}

.banner__button:hover {
  background-color: transparent;
  border: 2px solid var(--color-DeepOak);
  color: var(--color-DeepOak);
  cursor: pointer;
}

/* -----------------------음료 3종류-------------------------  */

.drink__container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.drink__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------------------음료 이미지--------------------- */
.strawberry {
  position: absolute;
  margin: 113px 676px 59px 481px;
  cursor: default;
}

.chouxcream {
  position: absolute;
  margin: 62px 388px 110px 769px;
  cursor: default;
}

.greentea {
  position: absolute;
  margin: 242px 165px 3px 1052px;
  cursor: default;
}

/* -------------------------음료 타이틀 컨테이너-------------------- */

.strawberry__container {
  position: absolute;
  margin: 473px 493px 36px 476px;
  display: flex;
  width: 478px;
  /* 피그마 수치 -> width:471px */
  height: 91px;
  flex-direction: column;
  gap: 15px;
}

.chouxcream__container {
  position: absolute;
  margin: 68px 300px 472px 699px;
  display: flex;
  flex-direction: column;
  width: 450px;
  /*  피그마 수치 -> width:441px */
  height: 60px;
  padding: 0px 52px 0px 51px;
  gap: 12px;
}

.greentea__container {
  position: absolute;
  margin: 188px -30px 321px 999px;
  display: flex;
  flex-direction: column;
  letter-spacing: 2.8px;
  width: 474px;
  /*  피그마 수치 -> width:471px */
  height: 91px;
  padding: 0px 89px;
  gap: 15px;
}

/* -------------음료 영문 타이틀 -------------------*/

.en_title {
  color: var(--color-DeepOak);
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-align: center;
}

/* ------------------음료 한글 타이틀 ---------------------*/

.ko__title {
  /* 공간이 큼 */
  color: var(--color-DonJuan);
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
